<fieldset>

  <legend>Edit Cars</legend>

  <!-- MAKE -->
  <div class='form-group'>
      <label for='description'>name</label><br>
      <input class='form-control' id='name' type='text' name='name' value='{{ streetPal.name }}' />
  </div>

  <!-- Model -->
  <div class='form-group'>
      <label for='description'>descriptions</label><br>
      <input class='form-control' id='descriptions' type='text' name='descriptions' value='{{ services.descriptions }}' />
  </div>

  <!-- DESCRIPTION -->
  <div class='form-group'>
      <label for='description'>number</label><br>
      <input class='form-control' id='number' type='text' name='number' value='{{ services.number }}' />
  </div>

  <!-- Color -->
  <div class='form-group'>
      <label for='description'>hours</label><br>
      <input class='form-control' id='hours' type='text' name='hours' value='{{ services.hours }}' />
  </div>

  <!-- Price -->
  <div class='form-group'>
      <label for='description'>url</label><br>
      <input class='form-control' id='url' type='text' name='url' value='{{ services.url }}' />
  </div>

  <!-- Price -->
  <!-- <div class='form-group'>
      <label for='description'>services</label><br>
      <input class='form-control' id='services' type='text' name='services' value='{{ services.services }}' />
  </div> -->

</fieldset>